.cmpNav {
    text-align: center;
    &__menuButton {
	background-color: #ebebeb;
	padding: $base-spacing-unit/4;
	display: inline-block;
	content: 'Menu';
	border: 1px solid #5d5d5d;
	    cursor: pointer;
    }    
    &__list {
	display: none;
    }
    &__menuButton:focus ~ &__list {
	display: block;
    }
}