.cmpNav {
    text-align: center;
    background-color: #ebebeb;
    &__menuButton {
	padding: $base-spacing-unit/2;
	display: block;
	cursor: pointer;
	margin-bottom: $base-spacing-unit/2;
	font-weight: bold;
	font-size: 1.2em;
	text-decoration: none;
	@include mq($from: desktop) {
	    display: none;
	}
    }    
    &__list {
	display: none;
	@include mq($from: desktop) {
	    display: flex;
	    justify-content: space-around;
	}
    }
    &__link {
	display: block;
	font-size: 1.1em;
	padding: 0.6em 0;
	text-decoration: none;
    }
    &__listItem {
	@include mq($from: desktop) {
	    display: block;
	}
    }
    &__menuButton:focus ~ &__list {
	display: block;
    }
}