.cmpArticle {
    display: flex;
    flex-direction: column;
    @include mq($from: desktop) {
	display: block;
    }
    &__figure {
	margin: 0;
    }
    &__image {
	width: 100%;
	height: auto;
    }
    &__side {
	order: 1;
	@include mq($from: desktop) {
	    order: initial;
	    float: right;
	    margin: $base-spacing-unit;
	}
    }
}